@model List<ViolGraviViewModel>
@{
    ViewData["Title"] = "Violazioni superiori a 10 punti";
}

<h2>Violazioni oltre 10 punti</h2>



<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Data Violazioone</th>
            <th>Punti Totali Decurtati</th>
            <th>Importo Sanzione</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Cognome</td>
                <td>@item.Nome</td>
                <td>@item.DataViolazione</td>
                <td>@item.DecurtamentoPunti</td>
                <td>@item.Importo</td>
            </tr>
        }
    </tbody>
</table>
